{% extends 'base.html' %}
{% load static %}

  {% block page_css %}
    <link rel="stylesheet" href={% static 'challenges/includes/header.css' %} />
    <link rel="stylesheet" href={% static 'challenges/challenge.css' %} />
  {% endblock page_css %}

  {% block page_title %}
    {{month|title}}'s Challenge</title>
  {% endblock page_title %}

  {% block content %}

    {% include "challenges/includes/header.html" with active_page="Challenge" %}

    <h1>{{month|title}}'s Challenge</h1>

    {% if text is not None %}
      <h2>{{text}}</h2>
    {% else %}
      <p class="fallback">No challenge for this month yet!</p>
    {% endif %}

  {% endblock content %}