{% extends "base.html" %}
{% load static %}

  {% block page_css %}
    <link rel="stylesheet" href={% static 'challenges/test.css' %} />
  {% endblock page_css %}


  {% block page_title %}
    All Monthly Challenges
  {% endblock page_title %}

  {% block content %}

    {% include "challenges/includes/header.html" with active_page="Index" %}

    <h1>Index Of Monthly Challenge's</h1>
    <h2>{{text}}</h2>
    <ul>
      {% for month in months %}
      <li>
        <a href="{% url "str_monthly_challenge" month %}"> {{month}} </a>
      </li>
      {% endfor %}
    </ul>
  {% endblock content %}