{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock css %}

{% block title %}
index
{% endblock title %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static 'blog/img/Ted.jpeg' %}" alt="Ted Mosby - Author of Buildings" />
    <h2>VOMIT FREE SINCE 93!</h2>
  </header>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</section>

<section id="latest-posts">
  <h2>My Latest Posts</h2>

  <ul>
    {% for post in posts %}

    {% include 'blog/includes/post.html' with post=post %}

    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I do</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptates aspernatur consequatur, repellendus
    reprehenderit neque! Consequuntur, tempore minima quo neque atque doloremque sapiente eveniet reprehenderit numquam
    adipisci corporis officiis accusamus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod rerum tempora dicta, adipisci voluptates dolore
    explicabo quibusdam? Assumenda pariatur, ut sint minus aspernatur nesciunt officiis odit sit nisi quod! Repellat?
  </p>
</section>

{% endblock content %}