{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{% static 'app.css' %}" />

  {% block css %}{% endblock css %}

  <title>{% block title %}base{% endblock title %}</title>
</head>

<body>
  <header id="main-navigation">
    <h1><a href="/">Ted Mosby's Blog</a></h1>
    <nav>
      <a href="/posts">All Posts</a>
    </nav>
  </header>

  {% block content %} base content {% endblock content %}
</body>

</html>